<div class="container d-flex justify-content-center">
  <div class="row">
    <h1 class="d-flex justify-content-center">餐廳清單</h1>
      <span class="d-inline-block d-flex justify-content-center m-2">
        <a class="btn btn-primary" href='/manage/restaurants/create'>
          New Restaurant
        </a>
      </span>
    <br />
    <br />
    <div class="d-flex justify-content-center">
      <div class="table-responsive">
        <table class="table align-middle">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">名字</th>
              <th scope="col">類別</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each restaurants}}
              <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.Category.name}}</td>
                <td>
                  <button type="button" class="btn btn-link">
                    <a class="btn btn-info" href="/manage/restaurants/{{this.id}}">
                      Show
                    </a>
                  </button>
                  <button type="button" class="btn btn-link">
                    <a class="btn btn-success" href="/manage/restaurants/{{this.id}}/edit">
                      Edit
                    </a>
                  </button>
                  <form action="/manage/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-danger" onclick="return confirm(`確定要刪除{{this.name}}嗎?`)">Delete</button>
                  </form>
                </td>
              </tr>
            {{/each}}
          </tbody>
      </table>
    </div>
  </div>
</div>